*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f6f6f6;
}

ul {
  list-style-type: none;
}

ul li {
  border-bottom: 3px solid #f6f6f6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  background-color: #fff;
}

p {
  margin: 0.5rem;
}

form {
  position: relative;
}

#to-do-list-container {
  background-color: #eee;
  box-shadow: 10px  10px 10px 10px;
}

#clear {
  text-decoration: none;
  display: block;
  padding: 1rem 2rem;
  color: inherit;
  background-color: #f6f6f6;
}

#add-item {
  width: 100%;
  padding: 0 40px 0 1rem;
  line-height: 50px;
  height: 50px;
  border: none;
  font-style: italic;
}

#submit-new-item {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background-color: transparent;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
  background-image: url("./Images/enter.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 50px;
  cursor: pointer;
}
